.home {
display: flex;
font-size: 25px;
color:rgb(117, 40, 180);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}  
.homeContainer{
flex:6;
display: flex;
justify-content: center;
align-items: center;
}
  